*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(../images/background.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    flex-wrap: wrap;
}
header{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(220, 220, 220, 0.164);
    /* border-bottom: 3px solid rgba(0, 0, 255, 0.3); */
    padding: 10px;
}
header p{
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
}
header nav{
    width: 50%;
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: white;
}
main{
    margin: 3px auto;
    width: 80%;
    flex-grow: 1;
    background-color: rgba(220, 220, 220, 0.164);
}
section{
    margin: 0 auto;
    padding: 3%;
    display: flex;
    /* gap: 3%; */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
section figure{
    /* border: 3px solid gray; */
    border-radius: 50%;    
}
section figure img{
    border-radius: 50%;
    /* padding: 10px; */
    box-shadow: 0 0 50px lime;
}
section aside{
    line-height: 1.5;
}
section aside h1{
    font-size: 3rem;
}
section aside article{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

footer{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    background-color: rgba(220, 220, 220, 0.164);
    /* border-top: 3px solid rgba(0, 0, 255, 0.3); */
    position: sticky;
    padding: 10px;
}


li:hover{
    /* border-bottom: 2px solid white; */
    text-shadow: 3px 3px 2px black;
}


@media screen and (max-width:576px){
    html{
        font-size: 1.2rem;
    }
    header{
        /* flex-direction: column; */
        row-gap: 10px;
        width: 80%;
    }
    header nav ul{
        width: 40%;
        margin: 0 auto;
    }
    header nav ul li{
        font-size: 15px;
        padding: 0;
    }
    main{
        flex-direction: column;
    }
    section aside h1{
        font-size: 1.5rem;
    }
    section aside article{
        font-size: .8rem;
    }
    section figure img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        /* padding: 10px; */
        box-shadow: 0 0 50px lime;
    }
}
@media screen and (max-width:768px){
    html{
        font-size: 1.3rem;
    }
    header{
        flex-direction: column;
        row-gap: 10px;
    }
    header nav ul{
        gap: 20px;
    }
    main{
        flex-direction: column;
    }
    section aside h1{
        font-size: 1.8rem;
    }
    section aside article{
        font-size: 1.2rem;
    }
}
@media screen and (max-width:992px){
    html{
        font-size: 1.3rem;
    }
    header{
        flex-direction: column;
        row-gap: 10px;
    }
    header nav ul{
        gap: 20px;
    }
    main{
        flex-direction: column;
    }
}