
.bg-4c1f59{
    background-color: #4c1f59;
}
.c-9e85a5{
    color: #9e85a5;
}
.art-1{
    background: url(../images/p-1_banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}
.art-2{
    background: url(../images/p-1_image7.png);
    background-repeat: no-repeat;
    background-position: unset;
    background-size: cover;
    height: 600px;
}
.white{
    color: white;
}
.gray{
    color: gray;
}
.bg-gray{
   background-color: gainsboro;
}