.product{
    border: 1px solid blue;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
}
.product span{
    color: red;
}
.product button{
    border: 1px solid blue;
    color: aliceblue;
    background-color: blue;
    border-radius: 5px;
    padding: 5px;
}